.archive-title
  color color-meta
  font-weight normal
  margin-bottom 30px
  text-shadow 0 0 1px #fff


  

.archive
  width 600px
  margin 3em auto
  text-align left
  margin-bottom 50px
  article
    box-shadow none
    .post-content
      margin-bottom 0

  .archive-entry
    padding-bottom 1.8em    


  .date
    width 20%
    margin-right 3em
    float left
    color #999
  .archive-link
    width 60%
    float left
    a 
      color #333
    a:hover
      color #000
      border-bottom 2px solid #000

  .divider
    float right
    color #bbb
    font-size 0.7em
    margin-bottom 3em

