#footer-wrapper
  max-width 100%
  background url('../img/bg.png')  

#footer
  max-width 600px
  margin 0 auto
  color color-meta
  padding-top 100px
  padding-bottom 100px
  font 0.9em/1.6 font-title
  text-shadow 0 0 1px #fff