#header
  padding 1em 0 4em
  text-shadow 0 0 1px #fff
  background url('../img/bg.png')
  width 100%
  color #444
  a
    color #444
    &:hover
      color #aaa
      text-decoration none
    
  h1
    font-weight normal
    font-size 8em
    @media screen and (max-width: 480px)
      font-size 80px
      

  h2
    font-weight normal
    font-size 1em
    line-height 2em
    margin-top 20px
    margin-bottom 20px
    margin-left 10px 


  .group-text
     margin 0 auto
     max-width 600px
     @media screen and (max-width: 480px)
       text-align center
     @media screen and (max-width: 1024px)
       max-width 80%
       text-align center

     
  #main-nav
    font-family font-title
    line-height 2em
    float right
    text-align center
    margin 1em 2%
    height 4em
    ul
      list-style none
      display inline-block
      li 
        float left
        margin 0 0.65em
    @media screen and (max-width: 480px)
       float none 
       text-align center
    @media screen and (max-width: 1024px)
       float none 
       text-align center  
       

   .main-header
     clear both  
     display block 
     padding 1em 0 0
     @media screen and (max-width: 480px)
       text-align center


  
