#header
  text-shadow 0 0 1px #fff
  background url('/img/bg.png') 
  width 100%
  height 300px
  color #444

  a
    color #444
    &:hover
      color #aaa
      text-decoration none
    
  h1
    font-weight normal
    font-size 8em
    line-height 1

  h2
    font-weight normal
    font-size 0.9em
    line-height 1
    margin-top 20px
    margin-left 10px 


  .group-text
     margin 0 auto
     width 600px
     
  #main-nav
    font-family font-title
    line-height 2.5em
    float right
    margin 1em 2%
    ul
      list-style none
      li
        float left
        margin-left 30px

   .main-header
     padding-top: 5em

  
